<h3><%= @message %></h3>

<h1><%= @meetup.name %></h1>

<h2>Location:</h2>
<p><%= @meetup.location %></p>

<h2>Creator:</h2>
<p><%= @username %></p>

<h2>Description:</h2>
<p><%= @meetup.description %></p>

<h2>Members:</h2>
<ul>
  <% @members.each do |member| %>
    <li><%= member.username %></li>
    <img src="<%= member.avatar_url %>">
 <% end %>
</ul>

<form id="join" action="/meetups/join/<%= @meetup.id %>" method="POST">
  <input type=submit value="Join This Meetup">
</form>

<a href="/meetups">Back to all Meetups</a>
